@import "style.params";

.button {
  position: relative;
  border-radius: $roundness-button;
  padding: $spacing-base-1-5m $spacing-base-2-5m;
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-base-2m;
  cursor: pointer;
  box-sizing: border-box;
}

.small {
  @include regular-14px
}

.medium {
  @include regular-16px
}

.large {
  @include regular-18px
}

// variants

.backless {
  border-color: $actions-button-border-default;
  color: $main-text-primary;
  stroke: $main-text-primary;
  background-color: transparent;

  &:hover {
    background: $actions-button-background-default-hover;
  }

  &:active {
    background: $actions-button-background-default-pressed;
  }

  &.disableBorder {
    border-color: transparent;
  }
}

.default {
  border-color: $actions-button-border-default;
  color: $main-text-primary;
  stroke: $main-text-primary;
  background: $actions-button-background-default-default;


  &:hover {
    background: $actions-button-background-default-hover;
  }

  &:active {
    background: $actions-button-background-default-pressed;
  }

  &.disableBorder {
    border-color: $actions-button-background-default-default;
  }
}

.primary {
  background: $actions-button-background-primary-default;
  border-color: $actions-button-border-primary;
  color: $actions-button-text-default;
  stroke: $actions-button-text-default;

  &:hover {
    background: $actions-button-background-primary-hover;
  }

  &:active {
    background: $actions-button-background-primary-pressed;
  }

  &.disableBorder {
    border-color: $actions-button-background-primary-default;
  }
}

.secondary {
  background: $actions-button-background-secondary-default;
  border-color: $actions-button-border-secondary;
  color: $actions-button-text-secondary;
  stroke: $actions-button-text-secondary;

  &:hover {
    background: $actions-button-background-secondary-hover;
  }

  &:active {
    background: $actions-button-background-secondary-pressed;
  }

  &.disableBorder {
    border-color: $actions-button-background-secondary-default;
  }
}

.success {
  background: $actions-button-background-success-default;
  border-color: $actions-button-border-success;
  color: $actions-button-text-default;
  stroke: $actions-button-text-default;

  &:hover {
    background: $actions-button-background-success-hover;
  }

  &:active {
    background: $actions-button-background-success-pressed;
  }

  &.disableBorder {
    border-color: $actions-button-background-success-default;
  }
}

.successSecondary {
  background: $actions-button-background-success-secondary-default;
  border-color: $actions-button-border-success;
  color: $actions-button-text-success;
  stroke: $actions-button-text-success;

  &:hover {
    background: $actions-button-background-success-secondary-hover;
  }

  &:active {
    background: $actions-button-background-success-secondary-pressed;
  }

  &.disableBorder {
    border-color: $actions-button-background-success-secondary-default;
  }
}

.danger {
  background: $actions-button-background-danger-default;
  border-color: $actions-button-border-error;
  color: $actions-button-text-default;
  stroke: $actions-button-text-default;

  &:hover {
    background: $actions-button-background-danger-hover;
  }

  &:active {
    background: $actions-button-background-danger-pressed;
  }

  &.disableBorder {
    border-color: $actions-button-background-danger-default;
  }
}

.dangerSecondary {
  background: $actions-button-background-danger-secondary-default;
  border-color: $actions-button-border-error;
  color: $actions-button-text-danger;
  stroke: $actions-button-text-danger;

  &:hover {
    background: $actions-button-background-danger-secondary-hover;
  }

  &:active {
    background: $actions-button-background-danger-secondary-pressed;
  }

  &.disableBorder {
    border-color: $actions-button-background-danger-secondary-default;
  }
}

.loading {
  border-color: $actions-button-background-loading-default;
  color: $actions-button-text-loading;
  stroke: transparent;

  & path {
    fill: $actions-button-text-loading;
  }
}

.disabled {
  border-color: $actions-button-background-loading-default;
  color: $actions-button-text-loading;
  stroke: $actions-button-text-loading;
  & path {
    fill: $actions-button-text-loading;
  }
}

.link {
  &::after {
    content: "";
    display: block;
    width: calc(100% - ($spacing-base-2m * 2));
    position: absolute;
    border-bottom: 1px solid $actions-button-border-link-default;
    bottom: calc($spacing-base-1-5m);
    left: $spacing-base-2m;
  }

  &:hover {
    &::after {
      border-color: $actions-button-border-link-hover;
    }
  }
}

.dropdownIcon {

}

.icon {

}